.inboxChatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #2481ce;
    flex-wrap: wrap;
}
.inboxSelectChatWrap {
    display: flex;
    align-items: center;
}
.inboxSelectChatWrap span {
    color: #fff;
    margin-right: 30px;
    font-size: 16px;
    line-height: 17px;
}
.inboxSelectChatWrap select {
    color: #fff;
    background: #2481ce;
}
.inboxSelectChatWrap .arrow i {
    color: #fff;
}
.inboxChatTabsList {
    display: flex;
    align-items: center;
    font-size: 18px;

}
@media (max-width: 835px) {
    .inboxChatTabsList {
        margin-bottom: 20px;
    }
}
.inboxChatTabsList li i {
    margin-right: 10px;
}
.inboxChatTabsList li {
    cursor: pointer;
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.inboxChatTabsList li:last-child {
    margin-right: 0;
}
.inbox-active,
.sent-active,
.trash-active {
    color: #fff;
}
.inbox,
.sent,
.trash {
    color: #2b2d3c;
}
.inboxChatBody .inboxMessageList li {
    padding: 30px 10px 30px 30px;
}
.inboxChatBody .inboxChatInbox {
    width: 100%;
    max-width: 500px;
}
.inboxChatMessages {
    width:50%;
}
.inboxChatUserInfo {
    width: 20%;
}

.inboxChatBody {
    display: flex;
}

.topBoxWrapProject {
    max-width: 445px;
    width: 100%;
}
