.salesReport {
    padding: 25px;
}

.salesReportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.salesReportSelectWrap {
    display: flex;
    align-items: center;
}

.salesReportHeader p {
    font-size: 22px;
    color: #fff;
}

.salesReportHeader span {
    color: #9ea3b4;
    margin-right: 30px;
}