.selectWrap {
    position: relative;
    width: 150px;
}
.selectWrap select {
    color: #9ea3b4;
    background: #2f3242;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    font: 500 14px 'Roboto', sans-serif;
}
.selectWrap .arrow {
    position: absolute;
    right: 20px;
    bottom: 1px;
}
.arrow i {
    color: #909cb7;
    font-size: 20px;
}