.leftBarNavigation {
    background: #2f3242;
    min-height: calc(100vh - 96px);
    float: left;
}

.leftBarNavigation li {
    padding: 25px;
}

@media (max-width: 414px) {
    .leftBarNavigation li {
        padding: 10px;
    }
}

.leftBarNavigation i {
    color: #757da4;
    font-size: 35px;
}

.activeNavigation i {
    color: #fff;
}