.home {
    padding: 60px 20px 20px 60px;
}
.bottomBoxWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
}
.salesReportWrap {
    width: 650px;
}

.topBoxWrap .box {
    height: 450px;
}